[user]
	email = douglasdifilippo@gmail.com
	name = dougflip
[push]
  default = current
[color]
  ui = auto
[fetch]
  prune = true
[alias]
	s = status
	c = commit -a
  ca = commit -a --amend
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
	lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
	le = log --oneline --decorate
	cob = checkout -b
	co = checkout
	bd = branch -d
	g = grep --break --heading --line-number
  d = diff
  dc = diff --cached
  review = "!f() { git diff dev...${1-HEAD}; }; f"
  review-commits = "!f() { git cherry dev ${1-HEAD}; }; f"
  review = "!f() { git diff dev...${1-HEAD} --numstat; }; f"
  is-latest-dev = "cherry HEAD dev"
  delete-merged = "! git branch | grep -v 'master\\|dev\\|release-' | xargs git bd"
[grep]
  extendRegexp = true
